<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-primary" role="alert">Full-width
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-primary" role="alert">8
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-warning" role="alert">4
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-danger" role="alert">3
      </div>
    </div>
    <div class="col-md-9">
      <div class="alert alert-dark" role="alert">9
      </div>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-5">
      <div class="alert alert-primary" role="alert">5
      </div>
    </div>
    <div class="col-md-5">
      <div class="alert alert-primary" role="alert">5
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-dark" role="alert">Centered 8
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="alert alert-warning" role="alert">Centered 10
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="alert alert-info" role="alert">2
      </div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info" role="alert">2
      </div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info" role="alert">2
      </div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info" role="alert">2
      </div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-info" role="alert">2
      </div>
    </div>
  </div>
</div>
