<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="primary">Primary</a>
</p>

<p>
  <a class="secondary">Secondary</a>
</p>

<p>
  <a class="success">Success</a>
</p>

<p>
  <a class="danger">Danger</a>
</p>

<p>
  <a class="warning">Warning</a>
</p>

<p>
  <a class="info">Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="prime-unob">Primary (unobtrusive)</a>
</p>

<p>
  <a class="second-unob">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="success-unob">Success (unobtrusive)</a>
</p>

<p>
  <a class="danger-unob">Danger (unobtrusive)</a>
</p>

<p>
  <a class="warn-unob">Warning (unobtrusive)</a>
</p>

<p>
  <a class="info-unob">Info (unobtrusive)</a>
</p>
