<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->
<p>
<a class="btn btn-primary">Primary</a>
</p>
<p>
<a class="btn btn-secondary">Secondary</a>
</p>
<p>
<a class="btn btn-success">Success</a>
</p>
<p>
<a class="btn btn-danger">Danger</a>
</p>
<p>
<a class="btn btn-warning">Warning</a>
</p>
<p>
<a class="btn btn-info">Info</a>
</p>
<p>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
</p>
<p>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
</p>
<p>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
</p>
<p>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
</p>
<p>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
</p>
<p>
<a class="btn btn-outline-info">Info (unobtrusive)</a>
</p>
