<span class="btn btn-primary">Click me!</span>

<style>

  /* Write your CSS here to make the span look like a button. */
  span {
    font-size: 20px;
    font-family: Helvetica;
    display: flex;
    width: 120px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #0096FF;
    color: white;
    border-radius: 10px;
    
  }
  span:hover {
    box-shadow: 0.1px 0.1px 0.1px 0.1px #3F00FF;
    background-color: #3F00FF;
  }

  span:active {
    box-shadow: 0.1px 0.1px 0.1px 0.1px ##1434A4;
    background-color: #1434A4;
  }
</style>
