
<!-- Add utility classes and/or elements as needed to achieve the target appearance. -->
<div class="mx-auto p-3 border-top border-bottom">
  <div class="d-flex flex-row justify-content-around">
    <div class="bg-primary p-2 text-white">First</div>
    <div class="bg-success p-2 text-white">Second</div>
    <div class="bg-danger p-2 text-white">Third</div>
  </div>
</div>
<div class="mx-auto p-3 border-top border-bottom">
  <div class="d-flex flex-row justify-content-between">
    <div>Inbox</div>
    <div class="bg-danger badge text-white rounded-4">42</div>
  </div>
</div>
<div class="d-flex align-items-start p-3">
    <p class="text-end w-25 shadow text-secondary border border-2 border-primary border-top-0 border-end-0 border-bottom-0 lh-lg px-5" style="--bs-border-opacity: .25;">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel ad debitis iste minima molestiae repellat magni? Voluptas, odit voluptate quasi esse ea iure quibusdam error at architecto veritatis, beatae nihil?
    <p>
</div>
